<h4 class="pinkColor text-center font-weight-bolder mb-3">Search</h4>
<form>
  <div class="input-group input-group-lg mb-3">
    <select class="custom-select border-primary">
      <option selected>Search By</option>
      <option value="name">Name</option>
      <option value="area">Area</option>
      <option value="Specialization">Specialization</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control border-primary rounded-pill" placeholder="Name">
    <div class="input-group-append">
      <button class="btn rounded-circle ml-2 btn-outline-primary" type="submit"><i class="fa fa-search pinkColor"></i></button>
    </div>
  </div>

  <div class="input-group mb-3">
    <select class="custom-select border-primary rounded-pill">
      <option selected>Area</option>
      <option value="cairo">Cairo</option>
      <option value="giza">Giza</option>
      <option value="alexandria">Alexandria</option>
      <option value="north Coast">North Coast</option>
      <option value="qalyubia">Qalyubia</option>
      <option value="gharbia">Gharbia</option>
      <option value="menoufia">Menoufia</option>
      <option value="fayoum">Fayoum</option>
      <option value="el-Dakahlia">El-Dakahlia</option>
      <option value="el-Sharqia">El-Sharqia</option>
      <option value="el-Beheira">El-Beheira</option>
      <option value="damietta">Damietta</option>
      <option value="matrouh">Matrouh</option>
      <option value="assiut">Assiut</option>
      <option value="sohag">Sohag</option>
    </select>
    <div class="input-group-append">
      <button class="btn rounded-circle ml-2 btn-outline-primary" type="submit"><i class="fa fa-search pinkColor"></i></button>
    </div>
  </div>

  <div class="input-group mb-3">
    <select class="custom-select border-primary rounded-pill">
      <option selected>Specialization</option>
      <option value="Dermatology">Dermatology (Skin)</option>
      <option value="Dentistry">Dentistry (Teeth)</option>
      <option value="Psychiatry">Psychiatry (Mental, Emotional or Behavioral Disorders)</option>
      <option value="Pediatrics">Pediatrics and New Born (Child)</option>
      <option value="Neurology ">Neurology (Brain & Nerves)</option>
      <option value="Bones">Orthopedics (Bones)</option>
      <option value="Psychiatry">Gynaecology and Infertility</option>
      <option value="Ear">Ear, Nose and Throat</option>
      <option value="Cardiology">Cardiology and Vascular Disease (Heart)</option>
      <option value="Allergy">Allergy and Immunology (Sensitivity and Immunity)</option>
    </select>
    <div class="input-group-append">
      <button class="btn rounded-circle ml-2 btn-outline-primary" type="submit"><i class="fa fa-search pinkColor"></i></button>
    </div>
  </div>
</form>