<nav id="hideNav">
    <!-- MENU ICON -->
    <label for="hideIcon">&#8862;</label>
    <input type="checkbox" id="hideIcon"/>
   
    <!-- MENU ITEMS -->
    
    <div id="hideItems">
      <ul>  <a href="#">DOCtoria</a>
        <li>About Us</li>
        <li>Best Offers</li>
        <li>All Doctors</li>
      </ul>
      <ul>  <a href="#">Need Help?</a>
        <li>Contact Us</li>
        <li>Privacy Policy</li>
        <li>Terms and Conditions</li>
      </ul>
      <ul >  <a href="#">Follow Us</a>
       <p><i class=" social  fa fa-facebook" aria-hidden="true"></i></p>
        <p><i class=" social fa fa-twitter" aria-hidden="true"></i></p>
        <p><i class=" social fa fa-telegram" aria-hidden="true"></i></p>
        <p><i class=" social fa fa-instagram" aria-hidden="true"></i></p>
        <p><i class=" social fa fa-pinterest" aria-hidden="true"></i></p>
        <p> <i class=" social fa fa-youtube" aria-hidden="true"></i></p>
      </ul>
      
    </div>
  </nav>
