<main class="container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['info']" routerLinkActive="active">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['choose-appointment']" routerLinkActive="active">Choose An Appointment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['reviews']" routerLinkActive="active">Reviews</a>
        </li>
    </ul>

    <router-outlet></router-outlet>


</main>