<div class="row">
    <div class="col-4">
        <img src="assets/doc1.jpg" class="img-thumbnail" alt="Avatar">
    </div>
    
    <div class="col-8">
        <ul>
            <li><h3 style="color: #A63A50;">Doctor Ali Ahmed</h3></li>
            <li class="fas fa-stethoscope"> Plastic Surgeon Specialized in Facial Plastic Surgery, Obesity Surgery, Adult Dermatology, Cosmetic Dermatology and Laser, Pediatric Dermatology, Burn Surgery, Eyes Cosmetic Surgery, Hand Surgery, Rhinoplastic Surgery and Pediatric Deformities and Birth Defects Surgery</li>
            <li><i class="fa fa-dollar-sign"></i> Fees: 250 EGP</li>
            <li class="far fa-clock"> Waiting time:30 minutes</li>
            <li><i class="fa fa-phone"></i> 19888- Cost of regular call</li>
            <li class="fas fa-tty"> 02-27950501</li>
            <li><i class="fa fa-map-marker-alt"></i> 45 Al Batal Ahmad Abul Azeez Street</li>
            
            
        </ul>

    </div>

</div>














<!-- <div class="book col-4">
        
    </div> -->






<!-- <img src="doctor1.jpg" class="img-circle" alt="Avatar">
    <div class="text">
        <h4>Doctor Ali Ahmed</h4>
        <ul>
            <li><span class="glyphicon glyphicon-usd"></span>Fees: 200 EGP</li>
            <li class="material-icons">El-Manyal : 137 Abdelaziz Al saoud st , Borg El Yasmeen</li>
            <li><span class="glyphicon glyphicon-phone"></span>1988</li>
        </ul>
       
    </div> -->