.background_intro
{
    background-color:#C70039;
}
.background_advices
{
    background-image: url("src/app/advices/images/bike.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.center_image {
    
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    /* transform: translateY(-50%); */
}
.wrapword 
{
    max-width: 100px;
 }