<h2 class="m-4 font-weight-bold">Browse Your Patients</h2>



<div class="m-3">
  <table class="table mx-auto">
    <thead class="text-white" style="background-color:#C70039;">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">mariam</th>
        <td>01024051445</td>
        <td>cairo</td>

      <tr>
        <th scope="row">mariam</th>
        <td>01024051445</td>
        <td>cairo</td>
      </tr>
    </tbody>
  </table>

</div>