<main class="container">
    <div class="row justify-content-center border">
        
        <div class="col-md-8 col-10 border-secondary rounded p-3 blueShadow ">
            <h3 class="mr-3 text-center blueShadow p-2 mb-4">Ahmed Muhamed</h3>
            <i class="fas fa-venus-mars fa-2x mr-2 pinkColor"></i>
            <span class="h5">Gender: Male</span>
            <hr>
            <i class="fa fa-phone fa-2x mr-2 pinkColor"></i>
            <span class="h5">Phone number: 01005494654</span>
            <hr>
            <i class="fas fa-envelope-open-text fa-2x mr-2 pinkColor"></i>
            <span class="h5">Email: Ahmed@gmail.com</span>
            <hr>
            <i class="fas fa-user-alt fa-2x mr-2 pinkColor"></i>
            <span class="h5">Birthday date: 11/12</span>

        </div>
    </div>

</main>