<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="normalBlueBg text-white border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> </div>
    <div class="text-white list-group list-group-flush">
      <a routerLink="/home" 
         class="text-white list-group-item list-group-item-action blueBg">Home</a>
      <a routerLink="/appointments" 
         class="text-white list-group-item list-group-item-action blueBg">Appointments</a>
      <a routerLink="/edit-basic" 
         class="text-white list-group-item list-group-item-action blueBg">Edit Basic Info</a>
      <a routerLink="/edit-patient" 
         class="text-white list-group-item list-group-item-action blueBg">Edit Patient Info</a>
      <a routerLink="/history" 
         class="text-white list-group-item list-group-item-action blueBg">History</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  
  <!-- /#page-content-wrapper -->
</div>
