<div class="row">
    <h3 style="margin-left: 20px;color: rgb(0, 0, 0);">Filter</h3>
    
</div>
<div class="row">
                                         
    <div class="dropdown city col-sm-4">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        City
      </button>
      
      <form class="dropdown-menu">
          <input class="dropdown-item" type="checkbox" id="city1" name="city-1" value="Cairo">
          <label for="city1">Cairo</label>
          <input class="dropdown-item" type="checkbox" id="city2" name="city-2" value="Giza">
          <label for="city2">Giza</label>
          <input class="dropdown-item" type="checkbox" id="city3" name="city-3" value="Alex">
          <label for="city3">Alex</label>
          <input class="dropdown-item" type="checkbox" id="city4" name="city-4" value="Luxor">
          <label for="city4">Luxor</label>
      </form>
    </div>
  </div>   
  <div class="row">
    <div class="dropdown gender col-sm-4">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Gender
        </button>
        
        <form class="dropdown-menu">
            <input class="dropdown-item" type="checkbox" id="gender1" name="gender-1" value="male">
            <label for="gender1">Male</label>
            <input class="dropdown-item" type="checkbox" id="gender2" name="gender-2" value="female">
            <label for="gender2">Female</label>
        </form>
    </div>
  </div>    

  