
    <!-- <h3 style="margin-left: 20px;color: rgb(0, 0, 0);">Filter:</h3> -->

<div class="row">
    <div class="dropdown city col-sm-4 ">
      <button type="button" class="btn btn-primary dropdown-toggle fas fa-city" data-toggle="dropdown">
        City
      </button>
      
      <form class="dropdown-menu">
          <input class="dropdown-item" type="checkbox" id="city1" name="city-1" value="Cairo">
          <label for="city1">Cairo</label>
          <input class="dropdown-item" type="checkbox" id="city2" name="city-2" value="Giza">
          <label for="city2">Giza</label>
          <input class="dropdown-item" type="checkbox" id="city3" name="city-3" value="Alex">
          <label for="city3">Alex</label>
          <input class="dropdown-item" type="checkbox" id="city4" name="city-4" value="Luxor">
          <label for="city4">Luxor</label>
      </form>
    </div>
</div>   

<div class="row">
    <div class="dropdown gender col-sm-4">
      <button type="button" class="btn btn-primary dropdown-toggle fas fa-venus-mars" data-toggle="dropdown">
        Gender
      </button>
      
      <form class="dropdown-menu">
          <input class="dropdown-item" type="checkbox" id="gender1" name="gender-1" value="male">
          <label for="gender1">Male</label>
          <input class="dropdown-item" type="checkbox" id="gender2" name="gender-2" value="female">
          <label for="gender2">Female</label>
      </form>
  </div>
</div>

<div class="row">
  <div class="dropdown specialty col-sm-4 ">
    <button type="button" class="btn btn-primary dropdown-toggle fas fa-stethoscope" data-toggle="dropdown">
      Specialty
    </button>
    
    <form class="dropdown-menu">
        <input class="dropdown-item" type="checkbox" id="specialty1" name="specialty-1" value="Surgery">
        <label for="specialty1">Surgery</label>
        <input class="dropdown-item" type="checkbox" id="specialty2" name="specialty-2" value="dentist">
        <label for="specialty2">Dentist</label>
        <input class="dropdown-item" type="checkbox" id="specialty4" name="specialty-4" value="Psychiatry">
        <label for="specialty4">Psychiatry</label>
        <input class="dropdown-item" type="checkbox" id="specialty3" name="specialty-3" value="ophthalmology">
        <label for="specialty3">ophthalmology</label>
        
    </form>
  </div>
</div>   

<!-- <div class="row">
                                         
    <div class="dropdown city col-sm-4">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        City
      </button>
      
      <form class="dropdown-menu">
          <input class="dropdown-item" type="checkbox" id="city1" name="city-1" value="Cairo">
          <label for="city1">Cairo</label>
          <input class="dropdown-item" type="checkbox" id="city2" name="city-2" value="Giza">
          <label for="city2">Giza</label>
          <input class="dropdown-item" type="checkbox" id="city3" name="city-3" value="Alex">
          <label for="city3">Alex</label>
          <input class="dropdown-item" type="checkbox" id="city4" name="city-4" value="Luxor">
          <label for="city4">Luxor</label>
      </form>
    </div>
</div>    -->
<!-- <div class="row">
    <div class="dropdown gender col-sm-4">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Gender
        </button>
        
        <form class="dropdown-menu">
            <input class="dropdown-item" type="checkbox" id="gender1" name="gender-1" value="male">
            <label for="gender1">Male</label>
            <input class="dropdown-item" type="checkbox" id="gender2" name="gender-2" value="female">
            <label for="gender2">Female</label>
        </form>
    </div>
</div>     -->

  