<div class="container">
    <ul>
        <li>
                <!-- Default dropright button -->
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    City
                </button>
            <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                <a class="dropdown-item" href="#">Cairo</a>
                <a class="dropdown-item" href="#">Giza</a>
                <a class="dropdown-item" href="#">Alex</a>
            </div>
            </div>
        </li>

        <li>
                <!-- Default dropright button -->
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gender
                </button>
                <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <a class="dropdown-item" href="#">Male</a>
                    <a class="dropdown-item" href="#">Female</a>
                </div>
            </div>
        </li>

        <li>
                <!-- Default dropright button -->
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    specialist
                </button>
            <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <a class="dropdown-item" href="#">Pediatrics</a>
                <a class="dropdown-item" href="#">dentist</a>
                <a class="dropdown-item" href="#">Heart Surgery</a>
                <a class="dropdown-item" href="#">Psychiatry</a>
            </div>
            </div>
        </li>
    </ul>   

</div>
