<!-- card1 -->

<div *ngFor="let doctor of [1,2,3,4,5]" class="mb-5">
    <app-doctor-card (click)="goToProfile('da el id')"></app-doctor-card>
</div>







<!-- 
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-3  col-10 mb-3">

            <img class="rounded-circle halfBlueShadow"  src="assets/doc1.jpg" alt="doc">

        </div>
        <div class="col-md-6 col-sm-6 col-10 border-secondary rounded p-3 blueShadow ">
            <ul>
                <li><h4 style="color: #A63A50;">Doctor Ali Ahmed</h4></li>
                <li class="fas fa-stethoscope" style="line-height:1.6;"> Gynecologist Specialized in Gynaecology, IVF, Gynaecologic Oncological Surgery, Gynaecological Cosmetic Surgery and Obstetrics</li>
                <li><i class="fa fa-dollar-sign"></i> Fees: 250 EGP</li>
                <li class="far fa-clock"> Waiting time:30 minutes</li>
                <li><i class="fa fa-phone"></i> 19888- Cost of regular call</li>
                <li class="fas fa-tty"> 02-27950501</li>
                <li><i class="fa fa-map-marker-alt"></i> 45 Al Batal Ahmad Abul Azeez Street</li>
            </ul>

        </div>

        <div class="col-md-3 col-10 border-secondary rounded p-3 blueShadow ">
            <button type="button" class="btn btn-primary dropdown-toggle far fa-calendar-check" data-toggle="dropdown">
                Book
              </button>
              
              <form class="dropdown-menu">
                  <input class="dropdown-item" type="checkbox" id="book1" name="book-1" value="Today from 3pm to 6pm">
                  <label for="gbook1">Today from 3pm to 6pm</label>
                  <input class="dropdown-item" type="checkbox" id="book2" name="book-2" value="Tomorrow from 6pm to 9pm">
                  <label for="book2">Tomorrow from 6pm to 9pm</label>
                  <input class="dropdown-item" type="checkbox" id="book2" name="book-2" value="sunday from 6pm to 9pm">
                  <label for="book2">Sunday from 6pm to 9pm</label>
              </form>
        </div>

    </div>

</main> -->



