<div>
  <h2 class="m-4 font-weight-bold">Edit Your Professional Info</h2>
</div>
<div class="container-fluid">
  <form class="row g-3" (ngSubmit)="onSubmit()" #f1="ngForm">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <select class="custom-select" name="area" [ngModel]="user.userDetails?user.userDetails.area:'1'">
          <option value="1" hidden>Area</option>
          <option value="cairo">Cairo</option>
          <option value="giza">Giza</option>
          <option value="alexandria">Alexandria</option>
          <option value="north Coast">North Coast</option>
          <option value="qalyubia">Qalyubia</option>
          <option value="gharbia">Gharbia</option>
          <option value="menoufia">Menoufia</option>
          <option value="fayoum">Fayoum</option>
          <option value="el-Dakahlia">El-Dakahlia</option>
          <option value="el-Sharqia">El-Sharqia</option>
          <option value="el-Beheira">El-Beheira</option>
          <option value="damietta">Damietta</option>
          <option value="matrouh">Matrouh</option>
          <option value="assiut">Assiut</option>
          <option value="sohag">Sohag</option>
        </select>

      </div>
    </div>
    <div class="col-md-6 ">
      <div class="input-group ">

        <input type="text" class="form-control" id="inputFees" placeholder="Fees" name="fees"
          [ngModel]="user.userDetails? user.userDetails.fees:''">
      </div>
    </div>
    <div class="col-12">
      <div class="input-group mb-3">
        <select class="custom-select " name="speciality" [ngModel]="user.userDetails?user.userDetails.speciality:'1'">
          <option hidden value="1">Speciality</option>
          <option value="Dermatology">Dermatology (Skin)</option>
          <option value="Dentistry">Dentistry (Teeth)</option>
          <option value="Psychiatry">Psychiatry (Mental, Emotional or Behavioral Disorders)</option>
          <option value="Pediatrics">Pediatrics and New Born (Child)</option>
          <option value="Neurology ">Neurology (Brain & Nerves)</option>
          <option value="Bones">Orthopedics (Bones)</option>
          <option value="Psychiatry">Gynaecology and Infertility</option>
          <option value="Ear">Ear, Nose and Throat</option>
          <option value="Cardiology">Cardiology and Vascular Disease (Heart)</option>
          <option value="Allergy">Allergy and Immunology (Sensitivity and Immunity)</option>
        </select>

      </div>
    </div>

    <div class="col-12">
      <br /><button type="submit" class="btn btn-primary" [disabled]="!f1.valid">Confirm</button>
    </div>
  </form>
</div>