<div class="container-fluid">
  <div class="text-decoration-none text-center p-3 mb-2 m-3  text-black font-weight-bold ">
    <h2>Edit Doctor Information</h2>
  </div>
  <form class="row g-3">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <select class="custom-select ">
          <option selected>Area</option>
          <option value="cairo">Cairo</option>
          <option value="giza">Giza</option>
          <option value="alexandria">Alexandria</option>
          <option value="north Coast">North Coast</option>
          <option value="qalyubia">Qalyubia</option>
          <option value="gharbia">Gharbia</option>
          <option value="menoufia">Menoufia</option>
          <option value="fayoum">Fayoum</option>
          <option value="el-Dakahlia">El-Dakahlia</option>
          <option value="el-Sharqia">El-Sharqia</option>
          <option value="el-Beheira">El-Beheira</option>
          <option value="damietta">Damietta</option>
          <option value="matrouh">Matrouh</option>
          <option value="assiut">Assiut</option>
          <option value="sohag">Sohag</option>
        </select>
        
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="input-group ">
        <label for="inputAddress" class="form-label">Fees</label>
        <input type="text" class="form-control" id="inputFees" placeholder="">
      </div>
    </div>
    <div class="col-12">
      <div class="input-group mb-3">
        <select class="custom-select ">
          <option selected>Specialization</option>
          <option value="Dermatology">Dermatology (Skin)</option>
          <option value="Dentistry">Dentistry (Teeth)</option>
          <option value="Psychiatry">Psychiatry (Mental, Emotional or Behavioral Disorders)</option>
          <option value="Pediatrics">Pediatrics and New Born (Child)</option>
          <option value="Neurology ">Neurology (Brain & Nerves)</option>
          <option value="Bones">Orthopedics (Bones)</option>
          <option value="Psychiatry">Gynaecology and Infertility</option>
          <option value="Ear">Ear, Nose and Throat</option>
          <option value="Cardiology">Cardiology and Vascular Disease (Heart)</option>
          <option value="Allergy">Allergy and Immunology (Sensitivity and Immunity)</option>
        </select>
        
      </div>
    </div>
    
    <div class="col-12">
      <br /><button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
