
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand p-2 " href="#"><i class="fa fa-heartbeat pinkColor mr-2"></i>DOCtoria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item p-2" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['']"><i class="fa fa-home mr-2"></i>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['doctors']"><i class="fa fa-user-md mr-2"></i>All Doctors</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['improve-your-body']"><i class="fas fa-child mr-2"></i>Improve You Body</a>
        </li>
        <li class="nav-item  p-2 " routerLinkActive="active" *ngIf="!user">
          <a class="nav-link" [routerLink]="['signup']" ><i class="fa fa-sign-in mr-2"></i>Sign Up </a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" *ngIf="!user">
          <a class="nav-link" [routerLink]="['login']" ><i class="fa fa-user mr-2"></i>Log In</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" *ngIf ="user">
          <a  class="nav-link"  [routerLink]="['doc-dashboard']" *ngIf="user.userType === 'Doctor' " ><i class="fas fa-sign-out-alt mr-2"></i>Dashboard</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" *ngIf ="user">
          <a  class="nav-link"  [routerLink]="['patient-profile']" *ngIf="user.userType === 'Patient' " ><i class="fas fa-sign-out-alt mr-2"></i>My Profile</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" *ngIf="user">
          <a class="nav-link" (click)="logout()" ><i class="fas fa-sign-out-alt mr-2"></i>Log out</a>
        </li>



      </ul>
    </div>
  </nav>
