<h2 class="m-4 font-weight-bold">Choose Your Time Slots Here</h2>

<form class="m-4">
    <div>
        <h5 class="normalPinkBg text-white text-sm-left font-weight-bold p-3 rounded">
            Working Days
        </h5>
        <div class="form-check form-check-inline p-3" *ngFor="let day of weekdays">
            <input class="form-check-input" type="checkbox" id="{{day}}" value="{{day}}">
            <label class="form-check-label" for="Day{{weekdays.indexOf(day) + 1}}">{{day}}</label>
        </div>

    </div>

    <div>
        <h5 class="normalPinkBg text-white text-sm-left font-weight-bold p-3 rounded">
            Slots in a Day
        </h5>
        <div class="form-check form-check-inline p-3" *ngFor="let slot of slots">
            <input class="form-check-input" type="checkbox" id="{{slot}}" value="{{slot}}">
            <label class="form-check-label" for="Slot{{slots.indexOf(slot) + 1}}">{{slot}}</label>
        </div>

    </div>

    <div class="mx-auto" style="width: 200px;">
        <button type="submit" class="btn btn-primary">Confirm Slots</button>
    </div>
</form>