<div class="row mx-2 mt-4">
    <div class="col-7">
    </div>
    <div class="col-5 text-right">
        <i class="fas fa-tachometer-alt fa-2x text-primary"></i>
        <span class="h4 ml-2">Average Rate: <span class="text-primary">7.9</span> /
            10</span>
    </div>
</div>



<div class="row mt-5">
    <div class="col-6 text-left">
        <h5 style="position: absolute;bottom: 5px;" class="my-auto text-capitalize">all reviews for this doctor</h5>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-warning rounded-pill" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-star-half-alt"></i>
            Give A Rate!
        </button>
        <app-add-review></app-add-review>
    </div>
</div>


<div class="row mt-1">
    <div class="col-12">
        <app-review></app-review>
    </div>
</div>