<form #form="ngForm" (submit)="onSubmit(form)">


  <div class="card bg-primary text-light">
    <h5 class="card-header"><i class="fas fa-filter ml-4"></i> <span class="ml-3 font-weight-bold">Filter</span></h5>
    <div class="card-body">
      <select [(ngModel)]="area" (change)="changeArea()"  name="area" class="custom-select mb-3" aria-label="Default select example">
        <option value="" hidden>Area</option>
        <option value="cairo">Cairo</option>
        <option value="giza">Giza</option>
        <option value="alexandria">Alexandria</option>
        <option value="north Coast">North Coast</option>
        <option value="qalyubia">Qalyubia</option>
        <option value="gharbia">Gharbia</option>
        <option value="menoufia">Menoufia</option>
        <option value="fayoum">Fayoum</option>
        <option value="el-Dakahlia">El-Dakahlia</option>
        <option value="el-Sharqia">El-Sharqia</option>
        <option value="el-Beheira">El-Beheira</option>
        <option value="damietta">Damietta</option>
        <option value="matrouh">Matrouh</option>
        <option value="assiut">Assiut</option>
        <option value="sohag">Sohag</option>
      </select>

      <div class="form-group">
        <input name="name" class="form-control" (input)="changingName()" [(ngModel)]="name" placeholder="Name" type="text">
      </div>

      <select name="speciality" (change)="changeSpeciality()" [(ngModel)]="speciality" class="custom-select mb-3" aria-label="Default select example">
        <option value="" hidden>Speciality</option>
        <option value="Dermatology">Dermatology (Skin)</option>
        <option value="Dentistry">Dentistry (Teeth)</option>
        <option value="Psychiatry">Psychiatry (Mental, Emotional or Behavioral Disorders)</option>
        <option value="Pediatrics">Pediatrics and New Born (Child)</option>
        <option value="Neurology ">Neurology (Brain & Nerves)</option>
        <option value="Bones">Orthopedics (Bones)</option>
        <option value="Psychiatry">Gynaecology and Infertility</option>
        <option value="Ear">Ear, Nose and Throat</option>
        <option value="Cardiology">Cardiology and Vascular Disease (Heart)</option>
        <option value="Allergy">Allergy and Immunology (Sensitivity and Immunity)</option>

      </select>
      
      <button *ngIf="name||area||speciality" class="btn btn-danger btn-block" type="button" (click)="clear(form)">Clear Filter</button>
    </div>
  </div>

</form>

