<table class="table">
  <thead  style="background-color:#C70039;">
    <tr>
      <th scope="col" style="color: white">Patient</th>
      <th scope="col" style="color: white">Date</th>
      <th scope="col" style="color: white">Completed</th>
      <th scope="col" style="color: white">Referred</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">mariam</th>
      <td>11/5/2020</td>
      <td>yes</td>
      <td>no</td>
      </tr>
      <tr>
          <th scope="row">mariam</th>
          <td>11/5/2020</td>
          <td>yes</td>
          <td>no</td>
    </tr>
  </tbody>
</table>
