
.halfBlueShadow{
    box-shadow: -5px 5px 5px #038cd8
    
}
.orangeColor{
    color: #d84f03;
}
.orangeBg{
    background-color: #d84f03;
}

.blueShadow{
    box-shadow: 0px 0px 5px 0px #038cd8;
}
h3,h5,span{
 vertical-align: super;
 margin: 0;
}

