<div class="container-fluid">
  <div class="text-decoration-none text-center p-3 mb-2 m-4  text-black font-weight-bold ">
     <h2>Edit Patient Information</h2>

  </div>
  <form class="row g-3">
    
      
    <div class="col-12">
      <br /> <label for="inputEmail4" class="form-label ">Chronic Disease : </label>
      <input type="text" id="myText" value={{choronic}}>
    </div>
    <div class="col-12">
      <br /><button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
