<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-10 mb-4">

            <img class="rounded-circle halfBlueShadow" width="250px" height="250px" src={{doctor.basicInfo.photo}}
                alt="doc">

        </div>
        <div class="col-md-8 col-10 border-secondary rounded p-3 blueShadow ">
            <h3 class="mr-3 text-center blueShadow p-2 mb-4">{{doctor.basicInfo.name}}</h3>
            <i class="fas fa-user-md fa-2x mr-2 pinkColor"></i>
            <span class="h5"> {{doctor.speciality}}</span>
            <hr>
            <i class="fas fa-map-marker-alt fa-2x mr-2 pinkColor"></i>
            <span class="h5">{{doctor.area}}</span>
            <hr>
            <i class="far fa-money-bill-alt fa-2x mr-2 pinkColor"></i>
            <span class="h5">{{doctor.fees}}</span>

        </div>
    </div>

</main>
