<div class="search-box">
  <form>

    <div>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <input type="text" name="search" id="srch" placeholder="Search">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <p class="dropdown-item" href="#">Name</p>
        <p class="dropdown-item" href="#">Area</p>
        <p class="dropdown-divider"></p>
        <p class="dropdown-item" href="#">Specialization</p>
      </div>
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>

  </form>
  <br /><div><input type="text" name="text" id="Name" placeholder="Enter Name"><br /></div>
  <br /><div><input type="text" name="text" id="Area" placeholder="Enter Area"><br /></div>
        <br /><div><input type="text" name="text" id="Spec" placeholder="Enter Specialization"></div>
</div>



