<body>
    <div>
      <div class="topnav" id="myTopnav"style="display:flex">
        <a style="flex-grow: 1; font-family: Georgia, 'Times New Roman', Times, serif;"><p style="width: 15%; font-size: 21px; cursor: pointer;"><i class="fa fa-heartbeat" style="color:red;"></i><b>DOCT</b>oria</p></a>
        <a style="flex-grow: 0;" href="#home" class=" active"><i class="fa fa-home"></i> Home</a>
        <a style="flex-grow: 0;" class=" hover" href="#all-doctors"><i class="fa fa-user-md"></i> All Doctors</a>
        <a style="flex-grow: 0;" class=" hover" href="#sign-up"><i class="fa fa-sign-in"></i> Sign Up</a>
        <a style="flex-grow: 0;" class=" hover" href="#log-in"><i class="fa fa-user"></i> Log In</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class=" hover fa fa-bars"></i>
        </a>
      </div>
    </div>
</body>
